* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.header__container__h1 {
    font-family: 'Passion One', cursive;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 2px 2px black;
    font-size: 10rem;
    color: white;
}

.header__container__p {
    font-size: 3rem;
    font-weight: lighter;
    text-shadow: 0 2px 2px black;
    text-align: center;
    padding: 10px 10px;
    color: white;
}

.header__contianer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

.header__container__button__img {
    width: 40%;
    height: 40%;
}

.section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(32, 32, 36);
    min-height: 100vh;

    padding: 20px;
}

.section__grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}

.section__grid-container__card {
    background-color: rgb(44, 44, 50);
    max-width: 400px;
    height: 350px;
    padding-bottom: 20px;
}

.section__grid-container__card__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 50%;
}

.section__grid-container__card__text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.section__grid-container__card__text-container h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.section__grid-container__card__text-container p {
    display: block;
    font-size: 1.6rem;
    font-weight: lighter;
    padding: 10px;
    text-align: center;
    color: white;
}

.section__grid-container__card__text-container button {
    display: block;
    font-size: 1.6rem;
    width: 90%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #70c7be;
}

#button1, #button6 {
    background-color: #70c7be;
}

#button2, #button4 {
    background-color: rgb(127, 146, 207);
}

#button3, #button5 {
    background-color: rgb(157, 126, 208);
}

@media(max-width:950px) {
    .header__container__h1 {
        font-size: 5rem;
    }

    .header__container__p {
        font-size: 1.8rem;
    }

    .header__contianer__button {
        width: 50px;
        height: 50px;
    }

    .section__grid-container {
        grid-template-columns: repeat(2, auto);
    }

    .section__grid-container__card__text-container p {
        font-size: 1.5rem;
    }
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;

    max-height: 50vh;
    background-color: rgb(27, 27, 31);
    padding: 20px;
}

.footer__h3 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: white;
}

.footer__p {
    font-size: 1.6rem;
    font-weight: lighter;
    text-align: center;
    color: white;
    max-width: 500px;
    margin: 20px auto;
}

@media(max-width:640px) {
    .section__grid-container {
        grid-template-columns: repeat(1, auto);
    }
}